<div class="container">
  <div class="header hidden-xs">
  <!-- boton menu responsive -->
  <button id="togg" onclick="menu()" ><img src="../assets/images/up.png"></button>
  <!-- Navbar -->
    <div class="nav menu-responsive" id="toggi">
      <img src="../assets/images/icon-reto.png" ng-click="gotoAnchor(0)">
      <ul>
        <li><a href="" ng-click="gotoAnchor(1)">Funciones</a></li>
        <li class="hidden-xs"><span>|</span></li>
        <li><a href="" ng-click="gotoAnchor(2)">Quiénes somos</a></li>
        <li class="hidden-xs"><span>|</span></li>
        <li><a href="" ng-click="gotoAnchor(3)">Suscripciones</a></li>
        <li class="hidden-xs"><span>|</span></li>
        <li><a href="">Blog</a></li>
      </ul>
      <!-- Sección de botones -->
      <div class="download-app">
        <div class="triangulo"></div>
        <div class="panel">
          <p>Descarga<br> gratuita:</p>
          <div class="botones-download">
            <div>
              <img src="../assets/images/ios.png">
            </div>
            <div>
              <img src="../assets/images/android.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- slider -->
  <div class="contenedor-slider" id="anchor{{0}}">
  <!-- imagenes del slider -->
    <div class="imagen-slider actual fondo">
      <div class="texto-slider texto-fondo">
        <img src="../assets/images/fondo02.png">
        <p><strong>Reto Universidad</strong><br>es una app que te apoya en tu<br>preparación a los exámenes de<br>admisión a la universidad.</p>
        <a href="">
          ¡Descubre  todo lo que puedes hacer!
        </a>
      </div>
    </div>
    <div class="imagen-slider">
      <img src="../assets/images/estudiantes.jpg">
      <div class="texto-slider texto-fondo">
        <img src="../assets/images/fondo02.png">
        <p><strong>Reto Universidad</strong><br>es una app que te apoya en tu<br>preparación a los exámenes de<br>admisión a la universidad.</p>
        <a ng-click="gotoAnchor(1)">
          ¡Descubre  todo lo que puedes hacer!
        </a>
      </div>
    </div>
    <div class="imagen-slider">
      <img src="../assets/images/estudiantes02.jpg">
      <div class="texto-slider texto-fondo">
        <img src="../assets/images/fondo02.png">
        <p><strong>Reto Universidad</strong><br>es una app que te apoya en tu<br>preparación a los exámenes de<br>admisión a la universidad.</p>
        <a ng-click="gotoAnchor(1)">
          ¡Descubre  todo lo que puedes hacer!
        </a>
      </div>
    </div>
    <div class="imagen-slider">
      <img src="../assets/images/estudiantes03.jpg">
      <div class="texto-slider texto-fondo">
        <img src="../assets/images/fondo02.png">
        <p><strong>Reto Universidad</strong><br>es una app que te apoya en tu<br>preparación a los exámenes de<br>admisión a la universidad.</p>
        <a ng-click="gotoAnchor(1)">
          ¡Descubre  todo lo que puedes hacer!
        </a>
      </div>
    </div>
    
    <!-- flechas de dirección del slider -->
    <a href="" class="anterior" onclick="anterior();"><img src="../assets/images/prev.png" alt=""></a>
    <a href="" class="siguiente" onclick="siguiente();"><img src="../assets/images/next.png" alt=""></a>
    
    <!-- puntos -->
    <div class="puntos">
      <span class="punto active" onclick="mostrar(0);"></span>
      <span class="punto" onclick="mostrar(1);"></span>
      <span class="punto" onclick="mostrar(2);"></span>
      <span class="punto" onclick="mostrar(3);"></span>
    </div>

  </div>

  <div class="funciones" id="anchor{{1}}">
    <p><b>Funciones</b></p>
    <div class="app">
      <div class="primera-columna">
        <div>
          <img src="../assets/images/uno.png" onmouseenter="backUno()" onmouseout="borradoUno()">
          <div>
            <h3>Compra por paquetes</h3>
            <p class="text-right hidden-xs">Compra los paquetes que mejor se acomoden a tu <br> necesidad de universidad y maeteria</p>
          </div>
        </div>
        <div>
          <img src="../assets/images/tres.png" id="02" onmouseover="backDos()" onmouseout="borradoDos()">
          <div>
            <h3>Estadisticas</h3>
            <p class="text-right hidden-xs">Analiza tus resultados y monitorea tus logros a lo<br> largo del tiempo</p>
          </div>
        </div>
        <div>
          <img src="../assets/images/cinco.png" id="03" onmouseover="backTres()" onmouseout="borradoTres()">
          <div>
            <h3>Estudia en <br class="hidden-lg"> todas partes</h3>
            <p class="text-right hidden-xs">Nuestra plataforma te permite estudiar sin WiFi.<br> Planifica tus tiempos sin preocupaciones</p>
          </div>
        </div>
      </div>

      <div class="segunda-columna">
        <div class="contenido-de-funciones cero" id="contenido">
        </div>
      </div>
      
      <div class="tercer-columna">
        <div>
          <img src="../assets/images/dos.png" id="04" onmouseover="backCuatro()" onmouseout="borradoCuatro()">
          <div>
            <h3>Contenido de calidad</h3>
            <p class="hidden-xs">Todas las preguntas que encontrarás han sido<br class="hidden-xs">revisadas por profesionales altamente calificados</p>
          </div>
        </div>
        <div>
          <img src="../assets/images/cuatro.png" class="especial" id="05" onmouseover="backCinco()" onmouseout="borradoCinco()">
          <div>
            <h3>Retro<span class="hidden-lg">-</span><br class="hidden-lg">alimentación</h3>
            <p class="hidden-xs">Todas las preguntas que contestes tendrán una<br class="hidden-xs"> descripción de por qué es correcta o errónea</p>
          </div>
        </div>
        <div>
          <img src="../assets/images/seis.png" class="especial" id="06" onmouseover="backSeis()" onmouseout="borradoSeis()">
          <div>
            <h3>Preguntas relevantes</h3>
            <p class="hidden-xs">Las preguntas con las que estudiarás son de temas<br class="hidden-xs"> importantes y parecidas al ENARM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="compite" id="anchor{{2}}">
    <div class="mision">
      <h3>Misión</h3>
      <img src="../assets/images/mision.png">
      <p>
        En Reto queremos desmostrar que la tecnología y la educación son una excelente combinacion. Creemos firmemente que el estudio sea la clave para una sociedad mejor, más ecuánime y justa. Nuestro objetivo es apoyar a la mayor cantidad de estudiantes para que puedan acceder a los conocimientos necesarios para que se vuelvan actores de este cambio.
      </p>
    </div>
    <div class="equipo">
      <h3>Nuestro equipo</h3>
      <img src="../assets/images/vision.png">
      <p>
        Nuestro equipo tiene experiencia en desarrollo de contenido digital con enfoque en educación. En particularya contamos con casos de éxitos como Reto Enarm, que al día de hoy cuenta con más de 500,000 preguntas contestadas y miles de estudiantes apoyados.
      </p>
    </div>
  </div>
  <div class="asset">
    <img src="../assets/images/icon-d.png">
  </div>
  <!-- Sección suscripciones azul -->
  <div class="suscripciones" id="anchor{{3}}">
    <div class="triangulo-2"></div>
    <div>
      <h3>Suscripciones</h3>
      <p class="familia">En Reto queremos demostrar que la tecnología y la educación son una excelente combinación. Creemos firmemente que el amor estudio sea la clave para una sociedad mejor, más ecuánime y justa. Nuestro objetivo es apoyar a la mayor cantidad de estudiantes para que puedan acceder a los conocimientos necesarios para que se vuelvan actores de este cambio.
      </p>
    </div>
    <div class="table">
      <ul class="transparencia01">
        <li>&nbsp;</li>
        <li><b>General</b></li>
        <li><b>UNAM</b></li>
        <li><b>POLI</b></li>
        <li><b>UAM</b></li>
      </ul>
      <ul class="transparencia02">
        <li><b>Mensual</b></li>
        <li>50</li>
        <li>50</li>
        <li>50</li>
        <li>50</li>
      </ul>
      <ul>
        <li><b>Trimestral</b></li>
        <li>45</li>
        <li>45</li>
        <li>45</li>
        <li>45</li>
      </ul>
      <ul class="transparencia02">
        <li><b>Semestral</b></li>
        <li>40</li>
        <li>40</li>
        <li>40</li>
        <li>40</li>
      </ul>
    </div>
    <div class="desc">
      <h3>¡Descarga nuestra app gratis y asegura tu futuro!</h3>
      <div class="botones-descarga">
        <img src="../assets/images/ios.png">
        <img src="../assets/images/android.png">
      </div>
    </div>
  </div>
  <!-- Footer con formulario de contacto -->
  <div class="formulario">
    <div>
      <div class="sellos hidden-xs">
        <img src="../assets/images/XMLID_391_.png">
      </div>
      <div class="conte">
        <ul class="hidden-xs">
          <li><a ng-click="gotoAnchor(1)"><b>Funciones</b></a></li>
          <li><a ng-click="gotoAnchor(2)"><b>Quiénes somos</b></a></li>
          <li><a ng-click="gotoAnchor(3)"><b>Suscripciones</b></a></li>
          <li><a onclick="menu()">Blog</a></li>
          <li><img src="../assets/images/facebook.png" alt=""></li>
          <li><img src="../assets/images/instagram.png" alt=""></li>
        </ul>
        <p>¡Descrube la forma más eficiente para entrar a la UNAM, Poli y muchas otras universidades!</p>
        <div class="contacto">
          <form>
            <input type="text" name="Correo" placeholder="Escribe tu email...">
          </form>
          <button>
            ¡Suscríbete!
          </button>
        </div>
        <small>
        Todos los derechos reservados a Mellow Ventures / Mellow Consulting México D.F. 2017
      </small>
      </div>
      <div class="sellos-responsive">
        <div class="sellos hidden-lg">
          <img src="../assets/images/Sellos-02.png">
        </div>
        <div class="sellos">
          <img src="../assets/images/Sellos-01.png">
        </div>
      </div>
    </div>
  </div>
  <div class="pop-up" id="pop">
    <small>Suscríbete y obtén</small>
    <big>10%</big>
    <p>de descuento</p>
    <small>en la descarga de nuestra app</small>
    <div>
      <form>
        <input type="text" name="Correo" placeholder="Escribe tu email...">
      </form>
      <button>
        Obtén tu -10%
      </button>
    </div>
    <span onclick="popHidden();">
      Quiero perderme esta gran oportunidad
    </span>
  </div>
</div>