body {
  margin: 0;
  font-family: Sans-Serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.container {
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  position: fixed;
  z-index: 10;
  width: 100%;
}
/*Navegador*/
.nav{
  margin-left: -7px !important;
  padding-left: 0px !important;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #F8697A;
  margin-bottom: 60px;
}
#togg{
  display: none;
}
.nav > img{
  width: 44px;
  height: 39px;
  margin-left: 14%;
  margin-top: 0.35%;
}
.nav ul{
  width: 40%;
  margin-left: 5%;
}
.nav li {
  list-style: none;
  display: inline;
  color: #fff;
  font-size: 14px;
  border-right: 1px solid rgba(255,255,255,0.4);
  padding: 0.5% 5%;
}
.nav ul .blog{
  border-right: 1px solid transparent;
}
.download-app{
  display: flex;
  justify-content: center;
}
.panel{
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: center;
  background-color: #4A4A4A;
  color: #ffffff;
  padding-right: 120px;
}

.triangulo{
  width: 0;
  height: 0;
  border-right: 20px solid #4A4A4A;
  border-top: 5px solid #4A4A4A;
  border-left: 2px solid transparent;
  border-bottom: 44px solid transparent;
}
.panel .botones-download{
  display: flex;
}
.botones-download div{
  padding-left: 11px;
  padding-right: 11px;
}
.botones-download div img{
  width: 100px;
  height: 33px;
}
/*Estilos del slider*/
.contenedor-slider{
  position: relative;
  width: 100%;
  height: 100vh;
}
.imagen-slider{
  width: 100%;
  height: 100vh;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
.fondo{
  background-image: url(../assets/images/fondo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.texto-fondo img{
  width: initial !important;
  height: 85vh !important;
  top: 15%;
  left: 5.5%;
}
.texto-fondo{
  width: 100%;
  height: 100vh;
  top: 0% !important;
  background-color: rgba(0,0,0,0.4);
}
.texto-fondo p{
  margin-top: 17.3%;
  float: right;
  margin-right: 21.5%;
  font-size: 26px;
  color: #fff;
  font-weight: lighter;
}
.texto-fondo a{
  position: absolute;
  margin-top: 30%;
  margin-left: 15%;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #FFA40D;
}
.actual{
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s;
}
.imagen-slider img{
  width: 100%;
  height: 100vh;
  position: relative;
}
.texto-slider{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 85%;
}
.contenedor-slider a{
  text-decoration: none;
  position: absolute;
/*  top: 50%;
  transform: translateY(-50%);*/
}
.anterior{
  left: 15%;
  top: 50%;
  cursor: pointer;
}
.siguiente{
  left: 81.5%;
  top: 50%;
  cursor: pointer;
}
.puntos{
  position: absolute;
  top: 93%;
  width: 100%;
  text-align: center;
}
.punto{
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.punto:hover{
  background-color: #F8697A;
  cursor: pointer;
}
.active{
  background: #F8697A;
}
.funciones{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding-bottom: 4%;
  border-radius: 250% 250% 250% 250% / 0% 0% 20% 20%;

}
.funciones > p{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 5% 0;
}
.app{
  display: flex;
}
.app .primera-columna div > img{
  margin-right: 10px;
  margin-bottom: 5px;
}
.app .tercer-columna div > img{
  margin-left: 10px;
  margin-bottom: 5px;
}
.app .primera-columna div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px;
}
.app .primera-columna div div{
  margin: 0px;
  padding-right: 5px;
  background-image: url(../assets/images/border.png);
  background-repeat: no-repeat;
  background-position: right;
}
.app .primera-columna div h3, .app .tercer-columna div h3{
  color: #F8697A;
  font-size: 16px;
}
.app .primera-columna div h3,p, .app .tercer-columna div h3,p ,.compite h3, p{
  margin: 5px;
}
.app .primera-columna div p, .app .tercer-columna div p,.compite p{
  color: #4A4A4A;
  font-size: 14px;
}
.compite h3{
  color: #4A4A4A;
  font-size: 16px;
  font-weight: bold;
}
.app .tercer-columna div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.app .tercer-columna div div{
  margin: 0px;
  padding-left: 5px;
  background-image: url(../assets/images/border.png);
  background-repeat: no-repeat;
  background-position: left ;
}
.text-right{
  text-align: right;
}
.app .segunda-columna{
  background-image: url(../assets/images/contenedor.png);
  background-size: 235px 442px;
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .segunda-columna .contenido-de-funciones{
  border: 1px solid black;
  width: 212px;
  height: 342px;
  margin-top: -10px;
}
.compite{
  max-width: 82vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
}
.mision, .equipo{
  width: 50%;
  height: 50vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mision{
  border-right: 2px dotted #000;
}
.mision p, .equipo p{
  text-align: justify;
  height: 10vh;
}
.asset{
  margin-top:30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.suscripciones{
  width: 100%;
  height: 27em;
  margin-top: 2.5em;
  background-color: #626262;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 250% 250% 250% 250% / 20% 20% 0% 0%;
}
.suscripciones h3{
  font-size: 20px;
}
.desc h3{
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
}
.suscripciones .triangulo-2 {
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.suscripciones div{
  width: 68%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suscripciones .table{
  width: 65%;
  text-align: center;
  display: flex;

}
.suscripciones .table ul{
  width: 100%;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}
.suscripciones .table li{
  list-style: none;
  display: inline;
  line-height: 30px;
  width: 20%;
  font-size: 14px;
}
.suscripciones .table .transparencia01{
  background-color:  #F8697A;
}
.suscripciones .table .transparencia02{
  background-color: rgba(255,255,255,0.2);
}
.suscripciones .botones-descarga{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 26%;
  padding-bottom: 4%;
}
.mgt3{
  margin-top: 3%;
}
.familia{
  text-align: center;
}
.familia span{
  color: #2E59C0;
}
.formulario{
  background-color: #4A4A4A;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario > div{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  text-align: center;
  color: #ffffff;
  padding: 30px 0 2px;
}
.formulario .sellos img{
  width: 98px;
}
.formulario .conte{
  width: 70%;
}
.formulario .conte p{
  font-size: 14px;
  line-height: 40px;
}
.formulario .conte ul{
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: -5px;
}
.formulario .conte li{
  list-style: none;
  display: inline;
  font-size: 14px;
}
.formulario .conte li img{
  margin-right: 15px;
  margin-top: -10px;
}
.formulario .conte small{
  color: #9B9B9B;
  font-size: 12px;
  line-height: 50px;
}
.formulario .contacto{
  display: flex;
  justify-content: center;
}
.contacto input , .pop-up input{
  width: 250px;
  height: 36px;
  border: none;
  color: #9B9B9B;
  font-size: 14px;
  padding: 0 20px;
}
.contacto button, .pop-up button{
  border: none;
  background-color: #FFA40D;
  font-size: 1em;
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.pop-up input{
  margin-top: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pop-up button{
  margin-top: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cero{
  background-image: url(../assets/images/00.png);
  background-position: center;
  transition: 1s;
}
.uno{
  background-image: url(../assets/images/01.jpg);
  background-position: center;
  transition: 1s;
}
.dos{
  background-image: url(../assets/images/02.jpg);
  background-position: center;
  transition: 1s;
}
.tres{
  background-image: url(../assets/images/03.jpg);
  background-position: center;
  transition: 1s;
}
.cuatro{
  background-image: url(../assets/images/04.jpg);
  background-position: center;
  transition: 1s;
}
.cinco{
  background-image: url(../assets/images/05.jpg);
  background-position: center;
  transition: 1s;
}
.seis{
  background-image: url(../assets/images/06.jpg);
  background-position: center;
  transition: 1s;
}
.hidden-lg{
    display: none !important;
  }
.show-pop{
  display: initial;
}
.hidden-pop{
  display: none !important;
}
.pop-up{
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  background-image: url(../assets/images/pop.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}
.pop-up small{
  font-size: 20px;
}
.pop-up big{
  font-size: 100px;
  font-weight: normal;
}
.pop-up p{
  font-size: 30px;
  font-weight: normal;
}
.pop-up div{
  display: flex;
}
.pop-up span{
  color: #9B9B9B;
  font-size: 16px;
  line-height: 25px;
  border-bottom: 1px solid #9B9B9B;
  padding: 0 15px;
  margin-top: 30px;
  cursor: pointer;
}
