@media (max-width: 768px) {
  .hidden-xs{
  	display: none !important;
  }
  .menu-responsive{
    display: flex;
    flex-direction: row;
    display: block !important;
    justify-content: space-between;
  }
  .hidden-lg{
    display: initial !important;
  }
  .header{
    position: initial;
    background-size: 100% 300px;
  }

  #togg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #ffffff;
  	border: none;
  	background-color: rgba(0,0,0,0.5);

  }
  .nav{
    margin-left: 0px;
    width:100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0px;
    margin-bottom: 60px;
    position: absolute;
    z-index: 10;
  }
  .img--hidden{
    display:none;
  }

  ul{
    margin:0;
    padding:0;
    width:100%;
    display:flex;
  }


  .nav ul{
  	display: flex;
  	flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    width:100%;
  }

  li{
    line-height: 50px;
    text-align: center;
    border: 0 !important;
  }
  .nav li {
    margin:0px;
    padding:0px;
    width:100%;
    list-style: none;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size:15px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
  .nav li:hover {
    font-size: 1.1em;
    transition: 0.5s;
  }
  .logo-RU img{
    width: 90px;
  }
  .logo-RU p{
    font-size: 13px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: initial;
  }
  .logo-RU .down{
    width: 25px;
    margin-bottom: 10px;
  }
  .panel, .formulario{
    width: 90%;
    font-size: 1em;
  }
  .panel{
    display: flex;
    align-items: center;
    font-size: 40px;
    text-align: center;
    background-color: #4A4A4A;
    color: #ffffff;
    width:100%;
    margin-top: 2px;
    padding-right: 0px;
    border-bottom: 1px solid #4A4A4A;
  }
  .panel p{
    width:30%;
    font-size: 11px;
  }
  .botones-download div{
    padding: 5px 10px;
  }
  .botones-download div img{
    width: 100%;
  }
  /*carousel*/
  .contenedor-slider{
    position: relative;
    margin-top: 82px;
    width: 100%;
    height: 50vh;
  }
  .imagen-slider{
    width: 100%;
    height: 50vh;
  }

  .texto-fondo img{
    display: none;
  }
  .texto-fondo{
    display: flex;
    justify-content: center;
    height: 50vh;
  }
  .texto-fondo p{
    margin-top: 20%;
    float: right;
    margin-right: 0%;
    font-size: 20px;
  }
  .texto-fondo a{
    margin-top: 15%;
    margin-left: 0%;
  }
  .actual{
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
  .imagen-slider img{
    width: 100%;
    height: 50vh;
  }
  .contenedor-slider a{
    top: 55%;
    transform: translateY(-50%);
  }
  .anterior{
    left: 2%;
  }
  .siguiente{
    left: 89.5%;
  }
  .siguiente img,.anterior img{
    width: 30px;
    height: 30px;
  }
  .puntos{
    top: 86%;
  }
  .punto{
    width: 7px;
    height: 7px;
  }
  .funciones{
    margin-bottom: 30px;
  }

  .funciones > p{
    font-size: 1em;
  }
  .app{
    display: flex;
    justify-content: center;
  }

  .app .primera-columna div, .app .tercer-columna div {
    margin: 15px -5px 5px;
    width: 40px;
  }
  .app .primera-columna div h3{
    font-size: 2.5vw;
    text-align: right;
  }
  .app .tercer-columna div h3, .compite h3{
    font-size: 2.5vw;
  }
  .app .primera-columna div img, .app .tercer-columna div img,.compite img{
    width: 30px;
  }
  .app .tercer-columna div .especial{
    width: 20px;
  }
  .app .segunda-columna{
    background-size: 150px 270px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app .segunda-columna .contenido-de-funciones{
    width: 130px;
    height: 205px;
    margin-top: -7px;
    background-position: center;
    background-size: 155px 400px;
  }
  .triangulo{
    display:none;
  }
  .compite{
    width: 100%;
  }
  .familia{
    font-size: 11px;
    width: 80%;
  }
  /*quienes somos*/
  .compite{
    max-width: 100vw;
    height: 50vh;
  }
  .compite h3{
    font-size: 13px;
  }
  .mision, .equipo{
    width: 50%;
    height: 50vh;
    padding: 0.3em;
  }
  .mision{
    border-right: 1.5px dotted #000;
  }
  .mision p, .equipo p{
    text-align: justify;
    height: 35vh;
    box-sizing: border-box;
    font-size: 12px;
    width:90%;
    line-height: 12pt;
  }
  /*seccion de suscripciones*/
  .suscripciones{
    height: 30em;
  }

  .desc h3{
    font-size: 18px;
  }
  .suscripciones .triangulo-2 {
    margin-top: -1px;
  }
  .suscripciones div{
    width: 100%;
  }
  .suscripciones .table{
    width: 80%;
  }
  .suscripciones .table li{
    line-height: 25px;
    font-size: 13px;
  }
  .suscripciones .botones-descarga{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 4%;
  }
  .desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desc h3{
    text-align: center;
  }
/*seccion del formulario*/
  .formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .formulario > div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
  }
  .formulario .sellos img{
    width: 48px;
    height: 48px;
  }
  .formulario .conte{
    width: 100%;
  }
  .formulario .conte p{
    font-size: 14px;
  }
/*.formulario .conte ul{
  width: 100%;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.formulario .conte li{
  list-style: none;
  display: inline;
  font-size: 10px;
  font-weight: bold;
}*/
.formulario .conte small{
  color: #9B9B9B;
  font-size: 12px;
}
.formulario .contacto{
  display: flex;
  justify-content: center;
}
.contacto input , .pop-up input{
  width: 130px;
  height: 36px;
  border: none;
  color: #9B9B9B;
  font-size: 12px;
  padding: 0 10px;
  margin-top: 20px;
}
.contacto button, .pop-up button{
  border: none;
  background-color: #FFA40D;
  font-size: 12px;
  color: #ffffff;
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.sellos-responsive{
  display: flex;
  width: 35%;
  justify-content: space-around;
}
  .footer{
    font-size: 12px;
  }
  .footer .soc img{
    width: 35px;
  }
  .footer .sellos img{
    width: 40px;
  }

  /*modal*/

  .pop-up{
    background-size: 90%;
  }
  .pop-up small{
    font-size: 10px;
  }
  .pop-up big{
    font-size: 40px;
    font-weight: bold;
  }
  .pop-up p{
    font-size: 15px;
    font-weight: bold;
  }
  .pop-up div{
    display: flex;

  }
  .pop-up span{
    font-size: 9px;
    line-height: 12px;
    padding: 0 15px;
    margin-top: 10px;
    cursor: pointer;
  }

}
